*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
  }
  .content {
    position: relative; /* Permite que los elementos hijos se posicionen absolutamente */
    min-height: 100vh;
    padding-top: 120px;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 0, 15, 0.895);  /*Cambia a un color con transparencia si deseas */
    opacity: 0.9; /* Puedes ajustar la opacidad según lo que necesites */
    backdrop-filter: blur(150px); /* Ajusta el valor del blur según necesites */
    mix-blend-mode: overlay;
  }
  .infoup{
    max-width: 800px;
    margin: 20px auto;
  }

  .infoup div:first-child {
    margin-bottom: 40px;
  }

  .container {
    width: 100%;
    /* max-width: 800px; */
    margin: 0 auto;
    /* padding: 20px; */
    /* background-color: black; */
    text-align: center;
    font-size: var(--font-size-title);
    position: relative;
    z-index: 100;
  }

  .container p {
    font-size: var(--font-size-chicas);
  }
  