:root {
    --primary-color: #ff6b6b;
    --secondary-color: #4a91e24a;
    --text-color: #ffffff;
    --background-color: #1f1f1f;
    --background-color-nav: rgba(11, 22, 86, 0.484);
    --border-radius: 8px;
    --font-family: 'Roboto', sans-serif;
    --font-size-large: 2rem;
    --font-size-title: 1.2rem;
    --font-size-chicas: 0.8rem;
    --font-size-medium: 1rem;
  }
  