.urlList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .urlItem {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: var(--border-radius);
    color: var(--text-color);
    width: 250px;
    text-align: center;
  }
  